@using TeacherStudentPortal.Models
@model TeacherViewModel
@{
    ViewBag.Title = "TeacherHome";
}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-collapse collapse">
            @Html.Partial("_LogoutPartial")
        </div>
    </div>
</div>
<h2 style="color: darkblue; font-family: fantasy;">Hello @Model.Name</h2>

@if (Model.Students.Count > 0)
{
    <h4 style="color:lightseagreen">Complete list of students in the school</h4>
    <table>
        <thead>
        <tr>
            <th style="padding-right: 60px; color: darkblue;">Id</th>
            <th style="color: darkblue;">Name</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var student in Model.Students)
        {
            <tr>
                <td style="padding-bottom: 10px;">@student.Id</td>
                <td style="padding-bottom: 10px;">@student.Name</td>
            </tr>
        }
        </tbody>
    </table>
    <h4 style="color:lightseagreen">Use the below Assign Grades link to assign grade to the students for your course</h4>
    <ul class="nav navbar-nav navbar-left" style="font-weight: bold">
        <li>@Html.ActionLink("Assign Grades", "AssignGrades", "Home", routeValues: new { courseId = Model.CourseId, name = Model.Name}, htmlAttributes: new { id = "assignGradeLink" })</li>
    </ul><br/><br/>
}
@if (Model.Students.Count == 0)
{
    <h4 style="color:lightseagreen">No Records - Admin didn't add any student record</h4>
}
